#body-row {
  margin-left: 0;
  margin-right: 0;
}
#sidebar-container {
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container
  .list-group
  .list-group-item[aria-expanded="false"]
  .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container
  .list-group
  .list-group-item[aria-expanded="true"]
  .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.r-20{
  border-radius: 20px;
}

.w-10{
  width: 10%;
}

.bg-light-grey{
  background-color: #e7e9eb;
}

.sec-title{
  font-weight: bold !important;
  letter-spacing: -1px !important;
}
.compressed-txt{
  letter-spacing: -2px !important;
}

.bg-light-orange{
  background-color: #f6d7b8 !important;
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #e4e4e4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}

.img-size {
  width: 36px;
  height: 36px;
}

.tiny-font {
  font-size: 10px;
}

.rounded-border{
  border-radius: 50%;
}

.curved-border{
  border-radius: 14px;
}

._mt-28{
  margin-top: -28px;

}

.w-40{
  width: 40% !important;
}

.inp {
  border:none;
  border-bottom: 1px solid #e4e3e3;
  padding: 5px 10px;
  outline: none;
}

.active-tab {
  background-color: #014d7f;
  color: white;
}

.br-10{
  border-radius: 10px;
}

